:root {
    --red: #e50914;
    --black: #141414;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: var(--black);
    font-family: 'Times New Roman', Times, serif;
    color: white;
}

header .container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

header .logo {
    margin-top: 1.2rem;
    width: 11%;
    padding-bottom: 0.8rem;
}

header nav a {
    text-decoration: none;
    color: #aaa;
    margin-right: 0.6rem;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 95%;
}

header nav a:hover {
    color: white;
}

.main-movie {
    font-size: 1rem;

    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5) 100%), url('../img/capa-dark.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

    height: 25rem;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}

.main-movie .description {
    margin-top: 0.7rem;
    margin-bottom: 2.5rem;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 550;
}

.main-movie .title {
    margin-top: 1.2rem;
    font-size: 2.5rem;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.main-movie .button {
    background-color: rgba(0, 0, 0, .50);
    border: none;
    color: white;
    padding: 0.99rem 1.9rem;
    margin-right: 0.99rem;
    font-size: 1rem;
    font-weight: bold;
    cursor: pointer;
    transition: .3s ease all;
    border-radius: 5px;
}

.main-movie .button:hover {
    background-color: white;
    color: black;
}

.button i {
    margin-right: 0.5rem;
}

.main-movie .container {
    width: 70%;
}

.container {
    margin-left: 2.2rem;
}

.box-movie {
    height: 100%;
    width: 100%;
    display: block;
}

.carousel-movies {
    margin-top: 6px;
}